#-------------------------------------------------
#
# QtViewer Project Sample
#
# Edit it to match your local configuration and paths
# and save it as QtViewer.pro
#
#-------------------------------------------------

QT       += core gui opengl

greaterThan(QT_MAJOR_VERSION, 4): QT += widgets

TARGET = QtViewer
TEMPLATE = app

SOURCES += Sources/main.cpp\
    Sources/mainwindow.cpp \
    Sources/cqtopencvviewergl.cpp

HEADERS  += Headers/mainwindow.h \
    Headers/cqtopencvviewergl.h

FORMS    += Forms/mainwindow.ui

INCLUDEPATH += Headers

# External libraries
INCLUDEPATH += <your path to opencv includes>
LIBS += -L<your path to opencv libraries> -lopencv_core -lopencv_highgui
